<div class="container">
  <div [hidden]="submitted">
    <h2>Ajout de Héros : </h2>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Nom : </label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Nom est obligatoire
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="power">Pouvoir du héros : </label>
        <select class="form-control" id="power" required [(ngModel)]="model.power" name="power" #power="ngModel">
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
          Pouvoir obligatoire
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Envoyer</button>
      <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">Reset</button>
      
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Le nouveau héros :</h2>
    <div class="row">
      <div class="col-xs-3">Nom : {{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Pouvoir : {{ model.power }}</div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="submitted=false">Valider</button>

  </div>
</div>
