<h2>Mes Héros : </h2>

<div>
  <!-- <label for="new-hero">Nom des héros: </label> -->
  <!-- <input id="new-hero" #heroName /> -->

  <!-- (click) passes input value to add() and then clears the input -->
  <!-- <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Ajouter
  </button> -->
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
    {{hero.name}}
    </a>
  </li>
</ul>
<app-hero-form></app-hero-form>
